@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Navbar Component */
  
  .navbar {
    @apply bg-gray-50 
    border 
    border-gray-300
    px-4 
    lg:px-6 
    py-2.5 
    dark:bg-gray-800 
    border-b 
    dark:border-gray-700 
    fixed w-full 
    z-20 
    top-0;
  }
  .navbar-link{
    @apply block py-2 pr-4 pl-3
    text-neutral-900 bg-primary-700 
    hover:bg-primary-800 focus:ring-4 
    focus:ring-primary-300 font-medium 
    rounded-lg text-sm px-4 lg:py-2.5 mr-2 
    dark:bg-primary-600 dark:hover:bg-primary-700 
    focus:outline-none dark:focus:ring-primary-800;
  }
  .hideMenuNav {
    display: none;
  }
  .showMenuNav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  /* Navbar Component */
  .main-bg{
    @apply 
    absolute 
    w-auto 
    bg-cover
    bg-center
    bg-no-repeat
    min-w-full 
    min-h-full 
    h-screen 
    max-w-none 
    opacity-100;
  }
}